{%extends 'template.html'%}

{% block content  %}
    {% if user.is_authenticated %}
    <div class="container">
        <div style="text-align:center">
            <!-- <img src="/static/images/waving-hand.svg" alt="Assalamu Alikum" width="26" height="26"> -->
            👋 Hi {{ user.username }}! Welocme to Our site
        </div>
        <p><a href="{% url 'logout' %}">logout</a></p>
    </div>
    <!-- ------        File Upload       ------ -->
    <div class="container ">
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="text-monospace text-center">Analyzer</h1>
                <h4 class="text-monospace text-center subHeading">Upload a CSV file to perform analysis</h3>

                <!-- <input type="file" id="fileUpload" name="file"/>
                <div class="myId"></div>

                <div class="">
                    <form action="" method="post" enctype="multipart/form-data" class="">
                        {% csrf_token %}
                        <label for="file1"> Upload a file</label>
                        <input type="file" id="file1" name="file" class="btn">
                        <button type="submit" class="btn btn-warning">Upload</button>
                    </form>
                </div> -->

                <div id="myFileUpload" class="dropzone"></div>
            </div>
        </div>

        <!-- ------        GRAPHS / CHARTS       ------ -->
        <section id="graphs">
			<div class="row top-container " >
                    <!-- Total Reviews-->
				<div class="col-lg-4 top-row ">
					<div class="card promoting-card shadow ">
						<div class="card-header">
							<h2 class="text-monospace card-category">Total Reviews Analyzed</h2>
						</div>
						<div class="card-body d-flex flex-row" >
							<h1 id="totalReviews"></h1>
						</div>
					</div>
                </div>

                <div class="col-lg-8 " >
                    <div class=" card promoting-card shadow  ">
                        <div class="row">
                            <div class="col-lg-2">
                                <img src="" alt="" id="emoji">
                            </div>
                            <div class="col-lg-10">
                                <div class="card-header">
                                    <h2 class="card-category">Sentiment</h2>
                                </div>
                                <div class="card-body d-flex flex-row" >
                                    <h4 id="sentiment"></h4>
                                </div>
                            </div>
                        </div>

					</div>
                </div>
            </div>
            <!--   Pie CHART  of Ratings -->
			<div class="row">
				<div class="col-lg-6 ">
					<div class="card card-chart promoting-card shadow ">

						<div class="card-body d-flex flex-row">
							<div class="plotlyChart" id="pieChart"></div>
						</div>
					</div>
				</div>

				<div class="col-lg-6 ">
					<div class="card card-chart promoting-card shadow chart-area">
						<div class="card-body d-flex flex-row " >
                            <div class="plotlyChart" id='plotlyBarChart'></div>
						</div>
					</div>
				</div>
            </div>
            <!--     Reviews   Donuts     -->
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="card card-chart promoting-card shadow chart-area">
                        <div class="card-body d-flex flex-row " >
                            <div id="reviewDonuts"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="card card-chart promoting-card shadow chart-area">
                        <div class="card-body d-flex flex-row " >
                            <div id="reviewDonuts2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="card card-chart promoting-card shadow chart-area">
                        <div class="card-body d-flex flex-row " >
                            <div id="reviewDonuts3"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="col-lg-6 ">
                <div class="card card-chart promoting-card shadow chart-area">
                    <div class="card-body d-flex flex-row " >
                        <canvas id="myChart" ></canvas>
                    </div>
                </div>
            </div> -->

            <!-- <div class="row">
                <div class="col-lg-4">
                    <div class="card card-chart">
                        <div class="card-header">
                            <h5 class="card-category">Reviews Analysis</h5>
                        </div>
                        <div class="card-body">
                            <div class="chart-area">
                                <canvas id="myChart" ></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!--  CHARTS-->
			<canvas class="barChart" id="myChart" width="400" height="400" style="display: block; height: 400px; width: 700px;"></canvas>
        </section>
    </div>
                <!--      <^>      JavaScript       <^>       -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/js/myCharts.js"></script>
    <script src="/static/js/dropzone.js"></script>

    <script>
        Dropzone.autoDiscover = false;
        //var myDropzone = new Dropzone("div#myFileUpload", { url: "/api/analyze/"});

    let plotlyPieChart2 = response => {
        TESTER = document.getElementById('pieChart');
        Plotly.newPlot( TESTER, [{
        x: Object.keys(response.posNegReviews),
        y: Object.values(response.posNegReviews) }], {
        margin: { t: 0 } } );
        var data = [{
            values: Object.values(response.ratingCounts),
            labels: Object.keys(response.ratingCounts),
            type: 'pie'
        }];
        var layout = {
        height: 400,
        width: 500,
        title: 'Rating Chart',
        paper_bgcolor : 'rgba(0,0,0,0)',
        plot_bgcolor : 'rgba(0,0,0,0)',
        font: {
            family: 'monospace ',
            size: 16,
            color: '#c8d6e5'
        },
        };
        Plotly.newPlot('pieChart', data, layout,{displaylogo: false});
    }

    let plotlyBarChart = (response) => {
        var trace1 = {
            x: Object.keys(response.posNegReviews),
            y: Object.values(response.posNegReviews),
            marker:{
                color: ['rgba(16, 172, 132,1.0)', 'rgba(222,45,38,0.8)', 'rgba(204,204,204,1)', ]
            },
            type: 'bar'
        };
        var data = [trace1];
        var layout = {
            height: 400,
            width: 500,
            title: 'Sentiments Bar Chart',
            paper_bgcolor : 'rgba(0,0,0,0)',
            plot_bgcolor : 'rgba(0,0,0,0)',
            font: {
                family: 'monospace ',
                size: 16,
                color: '#c8d6e5'
            },
        };
        Plotly.newPlot('plotlyBarChart', data, layout, {displaylogo: false});
    }

    let reviewsDonuts = (response) => {
        let positive = response.posNegReviews.positive
        let negative = response.posNegReviews.negative
        let neutral = response.posNegReviews.neutral

        //  Neutral  <><><><><><><><><><><>
        var dataStatus = [{
            values: [neutral, positive + negative],
            textinfo: 'value',
            labels: ['Neutral', 'Other'],
            marker: {
                colors: [ 'rgba(87, 101, 116,1.0)',  '#e7eeeb']
            },
            type: 'pie',
            hole: .5
        }];
        var layoutStatus = {
            font: {
                family: 'monospace ',
                size: 16,
                color: '#c8d6e5'
            },
            height : 200,
            width : 330,
            margin : {l: 0, r: 0, b: 4, t: 4, pad: 8},
            paper_bgcolor : 'rgba(0,0,0,0)',
            plot_bgcolor : 'rgba(0,0,0,0)',
        };
        var optionsStatus = {
            //displayModeBar: false, //this one does work
        };
        Plotly.newPlot('reviewDonuts', dataStatus, layoutStatus, optionsStatus);

        //  Negative  <><><><><><><><><><><>
        var dataStatus = [{
            values: [negative, positive + neutral ],
            textinfo: 'value',
            labels: ['Negative', 'Other'],
            marker: {
                colors: [ '#EA2027',  '#e7eeeb']
            },
            type: 'pie',
            hole: .5
        }];
        var layoutStatus = {
            font: {
                family: 'monospace ',
                size: 16,
                color: '#c8d6e5',
            },
            height: 200,
            width: 330,
            margin: {l: 0, r: 0, b: 4, t: 4, pad: 8},
            paper_bgcolor: 'rgba(0,0,0,0)',
        };
        var optionsStatus = {
            //displayModeBar: false, //this one does work
        };
        Plotly.newPlot('reviewDonuts2', dataStatus, layoutStatus, optionsStatus);


        var dataStatus = [{
            values: [positive, negative + neutral ],
            textinfo: 'value',
            labels: ['Positive', 'Other'],
            marker: {
                colors: [ '#10AC84',  '#e7eeeb']
            },
            type: 'pie',
            hole: .5
        }];
        var layoutStatus = {
            font: {
                family: 'monospace ',
                size: 16,
                color: '#c8d6e5',
            },
            height: 200,
            width: 330,
            margin: {l: 0, r: 0, b: 4, t: 4, pad: 8},
            paper_bgcolor: 'rgba(0,0,0,0)',
        };
        var optionsStatus = {
            //displayModeBar: false, //this one does work
        };
        Plotly.newPlot('reviewDonuts3', dataStatus, layoutStatus, optionsStatus);
    }

    let sentiment = (response)=>{
        console.log('Inside Sentiment function')
        if (response.sentiment.flag === 1){
            $('#emoji').attr('src', "/static/images/smile.png");
            $('#sentiment').html(response.sentiment.comment)
        }
        if (response.sentiment.flag === 0 ){
            $('#sentiment').html(response.sentiment.comment)
        }

        if (response.sentiment.flag === -1){
            $('#sentiment').html(response.sentiment.comment)
        }

    }

    $(function(){
            uploader = new Dropzone("div#myFileUpload", {
                url: "/api/analyze/",
                //paramName : "uploadedFiles",
                uploadMultiple :false,
                acceptedFiles : ".csv",
                addRemoveLinks: true,
                forceFallback: false,
                maxFilesize:1000,
                parallelUploads: 100,

            });//end drop zone

            uploader.on("success", function(file,response) {
                console.log("Drop Zone")
                console.log(response.posNegReviews)
                let data = response
                console.log(data)
                $('#totalReviews').html(response.totalReviews)
                plotlyPieChart2(response)
                plotlyBarChart(response)
                reviewsDonuts(response)
                sentiment(response)

            });
        });
    </script>

    {% else %}
    <div class="container regButton ">

        <div class="card col-6">
            <div class="card-header">
                <p>You are not logged in. Only Registered users are allowed to view this page</p>
                <!-- <h5 >Reviews Analysis</h5> -->

                <!-- <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i> 3,500€</h3> -->
            </div>
            <div class="card-body ">
                <center>
                    <a href="{% url 'login' %}" class="btn btn-danger auth-login" >login</a>
                    <a href="{% url 'signup' %}" class="btn btn-outline-primary" >SignUp</a>
                </center>
            </div>

        </div>

    </div>
    {% endif %}

{% endblock  %}
