{% extends 'template.html' %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2 class="text-monospace">Reset your Password</h2>
        </div>
        <div class="card-body">
            {% if validlink %}
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn text-monospace" type="submit">Reset</button>

                </form>
            {% else %}
                <p class="alert alert-danger text-monospace">Reset token is invalid</P>
                <p class="text-monospace">Request a new Token
                    <a class="btn text-monospace" href="{% url 'password_reset' %}">CLICK ME</a>
                </p>

            {% endif %}
        </div>
    </div>
</div>

{% endblock %}